@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="admin-container">
    <div class="second-navbar responsive">
        @Html.Partial("_SecondNavigationBar")
    </div>

    @RenderBody()
</div>
